<a href="https://colab.research.google.com/github/ReX0171/3rd-Semester-OOP/blob/main/Python%20practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = input("Please enter your name: ")
print("Welcome " + name )

Please enter your name: Waseef Ullah
Welcome Waseef Ullah

In [4]:
num1=input("Enter num1:")
num2=input("Enter num2:")
print(num1+num2)

Enter num1:7
Enter num2:8
78

In [10]:
num=int(input())
if num % 2 == 0:
    print("numbeer is even")
else:
    print("number is odd")

7
number is odd

In [14]:
a=int(input())
b=int(input())
print("a is currently:",a, "and b is currently :",b)
a=a+b
b=a-b
a=a-b

print("now  a:",a)
print("b:",b)

8
9
a is currently: 8 and b is currently : 9
now  a: 9
b: 8

In [15]:
num=int(input())
for i in range(1, 11):
    print(num, "x", i, "=", num*i)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [16]:
num=int(input())
if num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Zero")

0
Zero

In [18]:
a=int(input())
b=int(input())
c=int(input())
if a>=b and a>=c:
    print("largest is ",a)
elif b>=a and b>=c:
    print("largest is ",b)
else:
    print("largest is ",c)

7
1
9
largest is  9

In [21]:
year=int(input())
if (year%4==0 and year%100!=0) or (year%400==0):
    print("Leap Year")
else:
    print(" its not a Leap Year")

2025
 its not a Leap Year

In [22]:
for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [23]:
num = int(input())
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(factorial)

6
720

In [30]:
n=int(input())
a=0
b=1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

8
0 1 1 2 3 5 8 13

In [31]:
string=input()
count=0
for char in string:
    if char in 'aeiouAEIOU':
        count+=1
print(count)

WaseefUllah
5

In [34]:
string=input()
reversed_string=""
for char in string:
    reversed_string=char+reversed_string
if string==reversed_string:
    print("Palindrome")
else:
    print("Not a Palindrome")

deed
Palindrome

In [35]:
string=input()
reversed_string=""
for char in string:
    reversed_string=char+reversed_string
print(reversed_string)

Waseef
feesaW

In [37]:
numbers=[]
for i in range(5):
    num=int(input())
    numbers+=[num]
print(sum(numbers))

1
2
3
4
5
15

In [39]:
numbers=[]
for i in range(5):
    num=int(input())
    numbers+=[num]
print("Largest number is :",max(numbers))
print("Smallest number i:",min(numbers))

1
7
2
8
3
Largest number is : 8
Smallest number is: 1

In [40]:
my_dict={"name":"Waseef Ullah","age":21,"city":"Swabi"}
for key in my_dict:
    print(key)
for value in my_dict.values():
    print(value)

name
age
city
Waseef Ullah
21
Swabi

In [42]:
numbers=[1,2,2,8,7,8,3,4,4,5]
unique_elements=set(numbers)
print(unique_elements)

{1, 2, 3, 4, 5, 7, 8}

In [44]:
def areaofcircle(radius):
    return 3.14*radius*radius
radius=float(input())
print("the area of circel is :",areaofcircle(radius))

4
the area of circel is : 50.24

In [45]:
def forprime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
num=int(input())
print("The number is prime:",forprime(num))

7
The number is prime: True